version: '3.8'
services:
  db:
    image: pgvector/pgvector:pg16  # Oddiy postgres emas, vektorlisi
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: rag_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: